<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Home page</title>

   <!-- font awesome cdn link  -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">

   <!-- custom css file link  -->
   <link rel="stylesheet" href="css/style.css">

</head>
<body>

<header class="header">
  <!DOCTYPE html>

<html lang="en">

<head>

   <section class="flex">

      <a href="/" class="logo">Educa.</a>

      <!-- <form action="search.html" method="post" class="search-form"> -->
         <!-- <input type="text" name="search_box" required placeholder="search courses..." maxlength="100"> -->
         <!-- <button type="submit" class="fas fa-search"></button> -->
      </form>

      <div class="icons">
         <div id="menu-btn" class="fas fa-bars"></div>
         <div id="search-btn" class="fas fa-search"></div>
         <div id="user-btn" class="fas fa-user"></div>
         <div id="toggle-btn" class="fas fa-sun"></div>
      </div>

      <div class="profile">
         <img src="images/pic-1.jpg" class="image" alt="">
         <% if (isAuthenticated) { %>
            <h3 class="name"><%= userName %></h3>
            <p class="role">student</p>
            <% } else { %>
                    <h3 class="name"></h3>
               <% } %>         
         <a href="/profile" class="btn">view profile</a>
         <div class="flex-btn">
                    
            <% if (isAuthenticated) { %>
               <!-- If the user is authenticated, display logout button -->
               <a href="/logout" class="option-btn">logout</a>
           <% } else { %>
               <!-- If the user is not authenticated, display login and register buttons -->
                   <a href="/login" class="option-btn">login</a>
                   <a href="/register" class="option-btn">register</a>
           <% } %>

         </div>
      </div>

      

   </section>

</header>   


<div class="side-bar">

   <div id="close-btn">
      <i class="fas fa-times"></i>
   </div>

   <div class="profile">
      <img src="images/pic-1.jpg" class="image" alt="">
      <% if (isAuthenticated) { %>
      <h3 class="name"><%= userName %></h3>
      <% } else { %>
              <h3 class="name"></h3>
         <% } %>

         <h3 class="role">student</h3>
      <a href="/profile" class="btn">view profile</a>
   </div>

   <nav class="navbar">
      <a href="/home"><i class="fas fa-home"></i><span>home</span></a>
      <a href="/about"><i class="fas fa-question"></i><span>about</span></a>
      <a href="/courses"><i class="fas fa-graduation-cap"></i><span>courses</span></a>
      <a href="/teacher"><i class="fas fa-chalkboard-user"></i><span>teachers</span></a>
         <!-- <a href="/teachers"><i class="fas fa-chalkboard-user"></i><span>teachers</span></a> -->


      <a href="/contact"><i class="fas fa-headset"></i><span>contact us</span></a>
   </nav>

</div>

<section class="home-grid">

   <h1 class="heading">quick options</h1>
   

   <div class="box-container">

      <div class="box">
         <h3 class="title">likes and comments</h3>
         <p class="likes">total likes : <span>25</span></p>
         <a href="#" class="inline-btn">view likes</a>
         <p class="likes">total comments : <span>12</span></p>
         <a href="#" class="inline-btn">view comments</a>
         <p class="likes">saved playlists : <span>4</span></p>
         <a href="#" class="inline-btn">view playlists</a>
      </div>

      <div class="box">
         <h3 class="title">top categories</h3>
         <div class="flex">
            <a href="#"><i class="fas fa-code"></i><span>development</span></a>
            <a href="#"><i class="fas fa-chart-simple"></i><span>business</span></a>
            <a href="#"><i class="fas fa-pen"></i><span>design</span></a>
            <a href="#"><i class="fas fa-chart-line"></i><span>marketing</span></a>
            <a href="#"><i class="fas fa-music"></i><span>music</span></a>
            <a href="#"><i class="fas fa-camera"></i><span>photography</span></a>
            <a href="#"><i class="fas fa-cog"></i><span>software</span></a>
            <a href="#"><i class="fas fa-vial"></i><span>science</span></a>
         </div>
      </div>

      <div class="box">
         <h3 class="title">popular topics</h3>
         <div class="flex">
            <a href="#"><i class="fab fa-html5"></i><span>HTML</span></a>
            <a href="#"><i class="fab fa-css3"></i><span>CSS</span></a>
            <a href="#"><i class="fab fa-js"></i><span>javascript</span></a>
            <a href="#"><i class="fab fa-react"></i><span>react</span></a>
            <a href="#"><i class="fab fa-php"></i><span>PHP</span></a>
            <a href="#"><i class="fab fa-bootstrap"></i><span>bootstrap</span></a>
         </div>
      </div>

      <% if (isAuthenticated) { %>
      <div class="form-data box">
         <form action="/markAttendance" method="post">
            <p style="font-size: 20px; color: #fff;">Date: <span style="color: red;">*</span></p>
            <input type="date" id="date" name="date" class="search-form" required>
            <p style="font-size: 20px; color: #fff; margin-top: 10px;">Present: 
          <!-- <input type="checkbox" id="present" name="present" value="true"></p> -->
          <input type="checkbox" id="present" name="present" value="true" onclick="showAlert()">

            <input type="hidden" name="userName" value="<%=userName%>">
            <input type="hidden" name="userEmail" value="<%=userEmail%>">
            <input type="hidden" name="user_id" value="<%=user_id%>"> 
            <button type="submit" class="inline-btn" onclick="submitAttandance()">Mark Attendance</button>
          </form>
      </div>

      

      <button onclick="showMessageTest()" class="inline-btn">give the test</button>
      <div id="overlayTest"></div>
      <div id="messageModalTest">
       <ul>
          <%for(let i of test_list) {%>
          <li>
             <p><a href="<%=i.link%>" target="_blank"> click here</a> for the test <span> by <%=i.teacherName%> sir</span></p>
          </li>   
          <%}%>
       </ul>
    
        <button onclick="hideMessageTest()" class="inline-option-btn">Close</button>
      </div>

      

  <button onclick="showMessage()" class="inline-btn">Show Message</button>
  <div id="overlay"></div>
  <div id="messageModal">
   <ul>
      <%for(let i of Massage_list) {%>
      <li>
         <p><%=i.addmassage%> <span> by <%=i.teacherName%> sir</span></p>
      </li>   
      <%}%>
   </ul>
    <button onclick="hideMessage()" class="inline-option-btn">Close</button>
  </div>



  <!-- create a time and schedule button -->
  <button onclick="showMessage1()" class="inline-btn">time and schedule</button>
  <div id="overlay1"></div>
  <div id="messageModal1">
   <ul>
      <%for(let i of Schedule_list) {%>
      <li style="display: flex; justify-content: space-between;">
         <p style="font-size: 18px; height: 20px; width: 150px; overflow: hidden;"> <%=i.date%> </p>
         <p>  time :<%=i.time%></p>
         <p><%=i.description%></p>
      </li>   
      <%}%>
   </ul>
    <button onclick="hideMessage1()" class="inline-option-btn">Close</button>
  </div>


<!-- chat box start -->
  <div class="box">
   <button onclick="showMessageChat()" class="inline-btn">chatbox</button>
  <div id="overlayChat"></div>
  <div id="messageModalChat">
   <div class="box">
       <div class="chat-container">
         <div class="person-selector">
            <button class="button person-selector-button active-person" id="john-selector"><%=userName%></button>
            <!-- <button class="button person-selector-button" id="jane-selector">Jane</button> -->
            <select name="button person-selector-button" id="teacher-selector" style="width: 40%;">
              <ul>
                <%for(let i of teacher_list) {%>
                  <li>
                    <p><%=i.name%></p>
                    <option value="<%=i.name%>"><%=i.name%></option>
                  </li>
                  <%}%>
              </ul>
            </select>
          </div>
         <h2 class="chat-header">John chatting...</h2>
         <div class="chat-messages">
           <div class="message blue-bg">
             <div class="message-sender">John</div>
             <div class="message-text">Hey Jane, what's up?</div>
             <div class="message-timestamp">10:30 AM</div>
           </div>
           <div class="message gray-bg">
             <div class="message-sender">Jane</div>
             <div class="message-text">Not much, just living the dream. How about you?</div>
             <div class="message-timestamp">10:35 AM</div>
           </div>
         </div>
         <form class="chat-input-form">
           <input type="text" class="chat-input" required placeholder="Type here, John..." />
           <button type="submit" class="button send-button">Send</button>
         </form>
         <button class="button clear-chat-button">Clear Chat</button>
         <button onclick="hideMessageChat()" class="inline-option-btn">Close</button>

       </div>
   </div>

    <!--  style for the chat box -->
     <style>    

.button {
  border: none;
  padding: 0.625em;
  border-radius: 0.5em;
  cursor: pointer;
}

.button:hover {
  filter: brightness(0.9);
}

.button:active {
  transform: translateY(2px);
}

.person-selector {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin: 1em auto 1em;
  max-width: 40em;
}

.person-selector-button {
  width: 15%;
  background-color: #39e64542;
  color: #fff;
  font-size: 1.1em;
}

.active-person {
  background: #08529d;
  box-shadow: 0 0 0.5em 0.1em #c3c3c333;
}

.chat-container {
  background: #15202b;
  font-family: 'Roboto', sans-serif;
  border-radius: 0.5em;
  padding: 0.5em 1.25em;
  margin: auto;
  max-width: 37.5em;
  height: 37.5em;
  /* height: 50%; */
  box-shadow: 0 0 1.25em 0.5em #c3c3c333;
}

.chat-header {
  margin-bottom: 1em;
  color: #fff;
}

.chat-header h2 {
  font-size: 1.25em;
  font-weight: bold;
}

.chat-messages {
  height: 17em;
  overflow-y: scroll;
}

.chat-messages::-webkit-scrollbar {
  display: none;
}

.message {
  padding: 0.5em;
  border-radius: 1em;
  margin-bottom: 0.625em;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.message-sender {
  font-weight: bold;
  margin-bottom: 0.31em;
}

.message-text {
  font-size: 1em;
  margin-bottom: 0.31em;
  word-wrap: break-word;
}

.message-timestamp {
  font-size: 0.75em;
  text-align: right;
}

.blue-bg {
  background-color: #1c9bef;
}

.gray-bg {
  background-color: #3d5365;
}

.chat-input-form {
  display: flex;
  align-items: center;
  margin-top: 2em;
  gap: 0.625em;
}

.chat-input {
  padding: 0.625em;
  border: none;
  border-radius: 0.5em;
  background-color: #f5f5f5;
  color: #333;
  font-size: 1em;
  flex-grow: 1;
}

.send-button {
  background-color: #1c9bef;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
}

.clear-chat-button {
  display: block;
  margin-top: 20px ;
  margin-left: 40%;
}

      /* ------------------------------------------------------------------------------ */


#messageModalChat  {
      display: none;
      position: fixed;
      font-size: 18px;
      font-weight: 800;
      top: 50%;
      left: 80%;
      width: 40%;
      transform: translate(-50%, -50%);
      padding: 20px;
      background-color: #f4f0f0;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      z-index: 1000;
    }
    
    #messageModalChat span  {
      color: #000;
      font-size: 15px;
      font-weight: 500;
    }
    /* Styles for the overlay */
    #overlayChat {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 999;
    }

       
     </style>
<!-- script for the chatbx -->
     <script>
 function showMessageChat() {
      // Display the modal and overlay
      document.getElementById('messageModalChat').style.display = 'block';
      document.getElementById('overlayChat').style.display = 'block';
    }

    function hideMessageChat() {
      // Hide the modal and overlay
      document.getElementById('messageModalChat').style.display = 'none';
      document.getElementById('overlayChat').style.display = 'none';
    }


   //  --------------------------------------------------------------------------------------------
   // @ts-nocheck

const johnSelectorBtn = document.querySelector('#john-selector')
const janeSelectorBtn = document.querySelector('#jane-selector')
const chatHeader = document.querySelector('.chat-header')
const chatMessages = document.querySelector('.chat-messages')
const chatInputForm = document.querySelector('.chat-input-form')
const chatInput = document.querySelector('.chat-input')
const clearChatBtn = document.querySelector('.clear-chat-button')

const messages = JSON.parse(localStorage.getItem('messages')) || []

const createChatMessageElement = (message) => `
  <div class="message ${message.sender === 'John' ? 'blue-bg' : 'gray-bg'}">
    <div class="message-sender">${message.sender}</div>
    <div class="message-text">${message.text}</div>
    <div class="message-timestamp">${message.timestamp}</div>
  </div>
`

window.onload = () => {
  messages.forEach((message) => {
    chatMessages.innerHTML += createChatMessageElement(message)
  })
}

let messageSender = 'John'

const updateMessageSender = (name) => {
  messageSender = name
  chatHeader.innerText = `${messageSender} chatting...`
  chatInput.placeholder = `Type here, ${messageSender}...`

  if (name === 'John') {
    johnSelectorBtn.classList.add('active-person')
    janeSelectorBtn.classList.remove('active-person')
  }
  if (name === 'Jane') {
    janeSelectorBtn.classList.add('active-person')
    johnSelectorBtn.classList.remove('active-person')
  }

  /* auto-focus the input field */
  chatInput.focus()
}

johnSelectorBtn.onclick = () => updateMessageSender('John')
janeSelectorBtn.onclick = () => updateMessageSender('Jane')

const sendMessage = (e) => {
  e.preventDefault()

  const timestamp = new Date().toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true })
  const message = {
    sender: messageSender,
    text: chatInput.value,
    timestamp,
  }

  /* Save message to local storage */
  messages.push(message)
  localStorage.setItem('messages', JSON.stringify(messages))

  /* Add message to DOM */
  chatMessages.innerHTML += createChatMessageElement(message)

  /* Clear input field */
  chatInputForm.reset()

  /*  Scroll to bottom of chat messages */
  chatMessages.scrollTop = chatMessages.scrollHeight
}

chatInputForm.addEventListener('submit', sendMessage)

clearChatBtn.addEventListener('click', () => {
  localStorage.clear()
  chatMessages.innerHTML = ''
})
//----------------------------------------------------------------------------------------------------------------
     </script>


  </div>
  </div>

  <script>
    function showMessageTest() {
      // Display the modal and overlay
      document.getElementById('messageModalTest').style.display = 'block';
      document.getElementById('overlayTest').style.display = 'block';
    }

    function hideMessageTest() {
      // Hide the modal and overlay
      document.getElementById('messageModalTest').style.display = 'none';
      document.getElementById('overlayTest').style.display = 'none';
    }

    function showMessage() {
      // Display the modal and overlay
      document.getElementById('messageModal').style.display = 'block';
      document.getElementById('overlay').style.display = 'block';
    }

    function hideMessage() {
      // Hide the modal and overlay
      document.getElementById('messageModal').style.display = 'none';
      document.getElementById('overlay').style.display = 'none';
    }

    function showMessage1() {
      // Display the modal and overlay
      document.getElementById('messageModal1').style.display = 'block';
      document.getElementById('overlay1').style.display = 'block';
    }

    function hideMessage1() {
      // Hide the modal and overlay
      document.getElementById('messageModal1').style.display = 'none';
      document.getElementById('overlay1').style.display = 'none';
    }

  </script>


      <%}%>

   </div>
   <style>

#messageModal ,#messageModal1, #messageModalTest {
      display: none;
      position: fixed;
      font-size: 18px;
      font-weight: 800;
      top: 50%;
      left: 50%;
      width: 40%;
      transform: translate(-50%, -50%);
      padding: 20px;
      background-color: #f4f0f0;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      z-index: 1000;
    }
    
    #messageModal span ,#messageModal1 span , #messageModalTest span {
      color: #000;
      font-size: 15px;
      font-weight: 500;
    }
    /* Styles for the overlay */
    #overlay,  #overlay1 , #overlayTest {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 999;
    }

       input[type="checkbox"] {
      width: 20px;
      height: 20px;

    }
      .today {
        background-color: rgb(250, 250, 251);
        height: 40px;
        width: 150px;
        border-radius: 2px;
        padding: 10px;
        font-size: 15px;
        font-weight: 600;
      }
  
      .completed {
        color: green;
      }
    </style>
</section>
<script>
   document.addEventListener('DOMContentLoaded', function() {
     // Get current date in "YYYY-MM-DD" format
     const today = new Date().toISOString().split('T')[0];

     // Set the max and min attributes of the date input
     const dateInput = document.getElementById('date');
     dateInput.setAttribute('max', today);
     dateInput.setAttribute('min', today);

     // Highlight today's date
     dateInput.value = today;

     // Add a class to highlight today's date
     dateInput.classList.add('today');
   });

   function showAlert() {
        // alert("Checkbox clicked!");
    }

    function submitAttandance() {
      alert ("Attandance submitted")
    }

   
 </script>


<section class="courses">

   <h1 class="heading">our courses</h1>

   <div class="box-container">

      <div class="box">
         <div class="tutor">
            <img src="images/pic-2.jpg" alt="">
            <div class="info">
               <h3>john deo</h3>
               <span>21-10-2022</span>
            </div>
         </div>
         <div class="thumb">
            <img src="images/thumb-1.png" alt="">
            <span>10 videos</span>
         </div>
         <h3 class="title">complete HTML tutorial</h3>
         <a href="/playlist" class="inline-btn">view playlist</a>
      </div>

      <div class="box">
         <div class="tutor">
            <img src="images/pic-3.jpg" alt="">
            <div class="info">
               <h3>john deo</h3>
               <span>21-10-2022</span>
            </div>
         </div>
         <div class="thumb">
            <img src="images/thumb-2.png" alt="">
            <span>10 videos</span>
         </div>
         <h3 class="title">complete CSS tutorial</h3>
         <a href="/playlist" class="inline-btn">view playlist</a>
      </div>

      <div class="box">
         <div class="tutor">
            <img src="images/pic-4.jpg" alt="">
            <div class="info">
               <h3>john deo</h3>
               <span>21-10-2022</span>
            </div>
         </div>
         <div class="thumb">
            <img src="images/thumb-3.png" alt="">
            <span>10 videos</span>
         </div>
         <h3 class="title">complete JS tutorial</h3>
         <a href="/playlist" class="inline-btn">view playlist</a>
      </div>

      <div class="box">
         <div class="tutor">
            <img src="images/pic-5.jpg" alt="">
            <div class="info">
               <h3>john deo</h3>
               <span>21-10-2022</span>
            </div>
         </div>
         <div class="thumb">
            <img src="images/thumb-4.png" alt="">
            <span>10 videos</span>
         </div>
         <h3 class="title">complete Boostrap tutorial</h3>
         <a href="http://localhost:5000/playlist" class="inline-btn">view playlist</a>
      </div>

      <div class="box">
         <div class="tutor">
            <img src="images/pic-6.jpg" alt="">
            <div class="info">
               <h3>john deo</h3>
               <span>21-10-2022</span>
            </div>
         </div>
         <div class="thumb">
            <img src="images/thumb-5.png" alt="">
            <span>10 videos</span>
         </div>
         <h3 class="title">complete JQuery tutorial</h3>
         <a href="http://localhost:5000/playlist" class="inline-btn">view playlist</a>
      </div>

      <div class="box">
         <div class="tutor">
            <img src="images/pic-7.jpg" alt="">
            <div class="info">
               <h3>john deo</h3>
               <span>21-10-2022</span>
            </div>
         </div>
         <div class="thumb">
            <img src="images/thumb-6.png" alt="">
            <span>10 videos</span>
         </div>
         <h3 class="title">complete SASS tutorial</h3>
         <a href="http://localhost:5000/playlist" class="inline-btn">view playlist</a>
      </div>

   </div>

   <div class="more-btn">
      <a href="http://localhost:5000/courses" class="inline-option-btn">view all courses</a>
   </div>

</section>















<!-- <footer class="footer">
</footer> -->

<!-- custom js file link  -->
<script src="js/script.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

<!-- Add these scripts to your HTML file -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/default.js"></script>

   
</body>
</html>