<!-- home.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <form action="/markAttendance" method="post" onsubmit="return submitAttendance()">
        <p style="font-size: 20px; color: #fff;">Date: <span style="color: red;">*</span></p>
        <!-- Set today's date as the default value -->
        <input type="date" id="date" name="date" class="search-form" required readonly>
        <p style="font-size: 20px; color: #fff; margin-top: 10px;">Present: 
            <input type="checkbox" id="present" name="present" value="true">
        </p>
        <button type="submit" class="inline-btn">Mark Attendance</button>
    </form>
    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Get current date in "YYYY-MM-DD" format
            const today = new Date().toISOString().split('T')[0];
    
            // Set the default value of the date input
            const dateInput = document.getElementById('date');
            dateInput.value = today;
        });
    
        function submitAttendance() {
            var presentCheckbox = document.getElementById("present");
    
            if (presentCheckbox.checked) {
                // You can add additional logic here before submitting the form
                // If you return false, the form submission will be canceled
                alert("Attendance successfully submitted");
                return true;
            } else {
                alert("Failed: Please check the checkbox");
                return false;
            }
        }
    </script>
    

<% if (isAuthenticated) { %>

    <% if (isTeacherAuthenticated) { %>
        <h2>Welcome, Teacher!</h2>
        <p>Name: <%= teacherData.name %></p>
        <p>Email: <%= teacherData.email %></p>
        <!-- Add other teacher-specific details as needed -->
    <% } else { %>
        <h2>Welcome, Student!</h2>
        <p>Name: <%= studentData.name %></p>
        <p>Email: <%= studentData.email %></p>

        <!-- Add other student-specific details as needed -->
    <% } %>

    <!-- Common profile content for both students and teachers -->
    <!-- Add additional content as needed -->

<% } else { %>
    <p>Welcome, Guest! 
        <br>
        <br>
        Please log in to view your profile.</p>
<% } %>
<h1>Home page of the project</h1>

</body>
</html>
